# Ignore node_modules directory
node_modules/

# Ignore build directories
dist/
build/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE specific files
.vscode/
.idea/
.vite/

# Ignore system files
Thumbs.db
.DS_Store

# Ignore Python cache and compiled files
__pycache__/
/backend/__init__.py
*.py[cod]
*.so
*.egg-info/
*.egg
*$py.class

# Ignore environment files
.env

# Frontend Toolchain Files
bun.lockb
components.json
eslint.config.js
package-lock.json
package.json
postcss.config.js
tailwind.config.ts
vite.config.ts

# TypeScript Configurations
tsconfig*.json

# Other
*.todo
backend/requirements.txt
frontend/nginx